@{
    ViewData["Title"] = "Home Page";
}

<section class="flex justify-center items-center min-h-[70vh]">
    <div class="text-center">
        <h1 class="display-4 text-4xl font-bold mb-4">Welcome</h1>
        <p class="text-lg">Learn about 
            <a class="text-blue-600 hover:underline" href="https://learn.microsoft.com/aspnet/core" target="_blank">
                building Web apps with ASP.NET Core
            </a>.
        </p>
    </div>
</section>
